html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  
  
  .sidebar {
    background-color: #0048FF;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px;
    z-index: 1000;
  }
  
  .sidebar ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    height: 100%;
  }
  
  .sidebar ul li {
    padding: 5px 0;
    margin-left:10px;
  }
  
  .sidebar input {
    text-align: center;
    width: 100px;
    height:45px;
  }
  
  .sidebar button {
    width: 75px;
    height:65px;
  }
  
  
  .sidebar label {
    display: block;
    size: 12px;
    margin-bottom: 3px;
  }
  
  footer {
      color: #F100FF;
      font-size: 18px;
      bottom: 0;
      position: fixed;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 999;
  }
  
  footer p {
      margin: 10px 0;
  }
  
  footer i {
      color: red;
  }
  
  footer a {
      color: #01B2FF;
      text-decoration: none;
  }